# Xcode
build/*
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
profile
*.moved-aside
build/
iOS/build/
iOS/pkg/
.DS_Store
*.ipa
pkg/
bin/
.idea/
Carthage/
Pods/
container/*
fastlane/test_output/report.html
fastlane/test_output/report.junit
artifacts